body {
  width: 65%;
  margin: auto;
  font-family: Arial;
}

.slide {
  border-radius: 2px;
  margin-bottom: 2rem;
  padding: 0.5rem 1.5rem 1.5rem;
  box-shadow: 0px 2px 4px #ccc;
}
.slide p {
  line-height: 1.5;
  opacity: 0.73;
}
.slide .source {
  font-weight: bold;
}
.slide .source > a {
  font-weight: normal;
}
#target, #flowerTarget{
  margin-top: 40px;
}

.chart {
  margin-bottom: 40px;
}
.title {
  font-size: 14px;
}
.label {
  font-size: 11px;
}
.origin {
  fill: #333;
}
.star-axis, .flower-axis {
  stroke: #ccc;
  stroke-width: 2px;
  stroke-dasharray: 4 5;
}

.flower-path {
  stroke: #444;
  stroke-width: 1px;
  fill-opacity: 0.6;
}
.star-path {
  stroke: #444;
  stroke-width: 2px;
  fill: #709CB1;
  fill-opacity: 0.6;
}
